/* li:hover {
    background-color: lightgray;
}

li:hover > .hidden {
    display: inline;
} */

a {
    margin-right: 5px;
}

.viewTexts {
    width: 100%;
}

/* .hidden {
    margin-right: 5px;
    display: none;
    vertical-align: middle;
} */

