li:hover {
    background-color: lightgray;
}

li:hover > button {
    display: inline;
}

a {
    margin-right: 5px;
}

button {
    margin-right: 5px;
    display: none;
    vertical-align: middle;
}

