.word {
    /* text-decoration: underline; */
}

/* https://www.w3schools.com/css/css_tooltip.asp */

.tooltip {
    position: relative;
    display: inline-block;
    
    /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: lightgray;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    border: black;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -35px;
}

/* .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  } 
*/
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.hover-highlight:hover {
    background-color: yellow;
}

.familiarity-highlight-0 {
    background-color: aquamarine;
}

.familiarity-highlight-1 {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}

.familiarity-highlight-2 {
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 3px;
}

.familiarity-highlight-3 {
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 3px;
}

.familiarity-highlight-4 {
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-thickness: 3px;
}

.familiarity-highlight-5 {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 3px;
}